NEXT_PUBLIC_HALLEUS_SITE_URL=https://halleus.ir
NEXT_PUBLIC_HALLEUS_BRAND_NAME=Halleus

# Later database connection
DATABASE_URL=

# Later auth configuration
AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# Later payment configuration
PAYMENT_PROVIDER=
PAYMENT_SECRET_KEY=
PAYMENT_WEBHOOK_SECRET=
